@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #FFF;
}

::-webkit-scrollbar-thumb {
  background: #DDD;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #BBB;
}

